{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Software Developer, Entrepreneur, and Artist
        </p>
        <p>
          Timon Rieger is a freelance software developer, entrepreneur, traveler, and author.
          He is dedicated to crafting technology that adds value to society, embodying his mission and visions in practical solutions.
          Additionally, Timon expresses his thoughts and life advice through his music and writing.
        </p>
        <p>
          Timon lives by the mantra of "Lifelong learning and growth," guided by his passions and the principles of Stoicism.
          He emphasizes the importance of Emotional Intelligence as a key skill for personal and professional success.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
