{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/home-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Brain Snippets</h1>
          <span class="subheading">Ideas, Thoughts and Conclusions I'd like to share with you.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
          <p class=flashes style="color: red">{{ message }}</p>
        {% endfor %}
      {% endif %}
      <!-- Post preview-->
      {% for post in all_posts %}
      <div class="post-preview">
        <a href="{{ url_for('show_post', post_id=post.id) }}">
          <h2 class="post-title">{{ post.title }}</h2>
          <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="{{ url_for('about') }}">{{ post.author.username }}</a>
          on {{post.date}}
          <!-- TODO: Only show delete button if user id is 1 (admin user) -->
          {% if current_user.email == post.author.email %}
          <!-- Trigger Modal -->
          <a data-bs-toggle="modal" data-bs-target="#modal{{ post.id }}">✘</a>
          <!-- Modal -->
          <div class="modal fade" id="modal{{ post.id }}" tabindex="-1" aria-labelledby="deletePost" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <p>Are you sure you want to delete the following post?<br><b>{{ post.title }}</b><br>This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                  <a type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</a>
                  <a type="button" class="btn btn-danger" href="{{ url_for('delete_post', post_id=post.id) }}">Delete</a>
                </div>
              </div>
            </div>
          </div>
           {% endif %}
        </p>

      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

      <!-- New Post -->
      <!-- TODO: Only show Create Post button if user id is 1 (admin user) -->
      {% if current_user.email in admins %}
        <div class="d-flex justify-content-end mb-4">
          <a
            class="btn btn-primary float-right"
            href="{{url_for('add_new_post')}}"
            >Create New Post</a
          >
        </div>
      {% endif %}

      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-secondary text-uppercase" aria-disabled="true" href="{{ url_for('get_all_posts', page=page + 1 ) }}" disabled>Older Posts →</a>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}
